<a href="https://colab.research.google.com/github/levanphuoc-dev/CS112.L21/blob/main/week_1/SEAWEED/SEAWEED.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SEAWEED - TẢO BIỂN**

**1. Abstraction( Trừu tượng hóa):**



*   Tính kết quả n * Fibonacci(2k + 1)

**2. Pattern recognition( Nhận dạng mẫu):**



*   Kỹ thuật áp dụng: Duyệt mảng
*   Đặc điểm nhận dạng: Với số cá thể bàn đâu n = 1, theo yêu cầu đề bài ta có:
*   Ngày 0: 1 cá thể sinh ra
*   Ngày 1: 3 cá thể sinh ra
*   Ngày 2: 5 cá thể sinh ra
*   Ngày 3: 13 cá thể sinh ra
*   Ngày 4: 34 cá thể sinh ra
*   Ngày 5: 89 cá thể sinh ra Từ suy luận trên ta rút ra được công thức của n cá thể sau k ngày là n * Fibonacci(2k + 1)

**3. Algorithm designed(Thiết kế thuật toán):**

+ Gán fibo = [0,1], sum = 1
+ Duyệt mảng chạy từ 0 đến 2k:
  - Thêm fibo[1]+fibo[0] vào list fibo vừa khởi tạo trên
  - Xóa số 0 ra khỏi list fibo
  - Nếu i % 2 == 0 thì
    - Cộng fibo[1] vào sum
+ Trả về sum * n%(10**9+7)

**4. Complexity(Độ phức tạp):**


*   Đối với bài toán này ta sử dụng một vòng for nên độ phức tạp là O(n)

**5. Source code:**

In [1]:
n,k = map(int,input().split())
def solve(n,k):
    fibo = [0,1]
    sum = 1
    for i in range(0,2*k):
        fibo.append(fibo[1]+fibo[0])
        fibo.pop(0)
        if i % 2 == 0:
            sum+=fibo[1]
    return sum*n%(10**9+7)
print(solve(n,k))

3 2
15